.comments {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.edit-options {
    display: block;
    float: right;
    justify-content: space-around;
}

.modal {
    width: 400px;
    margin: 15% auto;
}